
html,
body {
margin: 0;
padding: 0;
width: 100%;
font-size: 16px;
line-height: 30px;
font-family: 'Didact Gothic', sans-serif;
background-color: rgb(58, 72, 80);
color: #ffffff;
}

header {
	height: 800px;
	width: 100%;
	background-color: rgb(81, 95, 103);
	background: url("img/bg_1.png") no-repeat center;
}

ul {
	padding: 0;
}

.header-top {
	min-height: 150px;
	display: flex;
	justify-content: center;
	background-color: rgba(57, 68, 75, 0.8);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 65%;
}

.logo-img {
	width: 127px;
	height: 22px;
	display: block;
}

.main-menu {
	text-transform: uppercase;
}

.main-menu li {
	display: inline-flex;	
	padding: 0 9px;
}

.main-menu a {
	text-decoration: none;
	color: #ffffff;
	padding: 5px 17px;
	font-weight: bold;
}

.main-menu a:hover {
	border: 2px solid rgb(75, 202, 255);
	color: rgb(75, 202, 255);
	padding: 5px 15px;
	transition: all 0.3s ease;
}

.main-menu a:active {
	border: 2px solid rgba(75, 202, 255, 0.5);
	color: rgba(75, 202, 255, 0.5);
}


.header-main {
	display: flex;
	justify-content: center;
	min-height: 600px;
}

.header-main p {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.header-main span {
	background-color: rgba(57, 68, 75, 0.9);
	text-transform: uppercase;
	font-size: 42px;		
	padding: 15px;
}



.services {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 400px;
	background-color: rgb(75, 202, 255);
}

.services-content {
    width: 100%;
    max-width: 65%;
}

.header2 {
	text-transform: uppercase;
	font-size: 30px;
	position: relative;
	font-weight: normal;
	margin-bottom: 40px;
    letter-spacing: 1px;
}

.header2::before {
  content: "";
  position: absolute;
  top: 120%;
  width: 65px;
  height: 2px;
  background-color: #ffffff;
}

.header2:hover::before {
	width: 135px;
	transition: width 0.5s ease;
}

.services-list {
	list-style: none;
	display:flex;
	justify-content: center;
	padding: 0;
}

.services-list li {
	width: 270px;
	margin: 0 50px 0 0;
}

.services-list li:last-child {
	margin: 0;
}

.services-list h2 {
	text-transform: uppercase;
}

.services-list p {
	font-size: 15px;
	line-height: 22px;
}




.portfolio {
	display: flex;
    flex-direction: column;
    align-items: center;
	color: #000000;
	background-color: #ffffff;
}

.portfolio-content {
	width: 100%;
    max-width: 65%;
}

.portfolio-options {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 150px;
}

.portfolio-options h2 {
}

.portfolio .header2 {
	position: relative;
}

.portfolio .header2::before,
.testimonials .header2::before {
  content: "";
  display: block;
  position: absolute;
  top: 120%;
  width: 65px;
  height: 2px;
  background-color: #000000;
}

.portfolio .header2:hover::before {
	width: 155px;
	transition: width 0.5s ease;
}

.portfolio-menu {
	list-style: none;
	text-transform: uppercase;
}

.portfolio-menu li {
	display: inline-flex;
	justify-content: space-between;
	padding: 0 10px;
}

.portfolio-menu a {
	text-decoration: none;
	color: #000000;
	padding: 5px 17px;	
	font-weight: bold;
}

.portfolio-menu a:hover {
	border: 2px solid rgb(75, 202, 255);
	color: rgb(75, 202, 255);
	padding: 5px 15px;	
	transition: all 0.3s ease;
}

.portfolio-menu a:active {
	border: 2px solid rgba(75, 202, 255, 0.5);
	color: rgba(75, 202, 255, 0.5);
}

.portfolio-items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style: none;
	min-height: 650px;
}

.portfolio-items li {
	display: flex;
	justify-content: space-around;
}

.portfolio-items img {
	opacity: 1;
}

.portfolio-items img:hover {
	filter: brightness(0.5);
	transition: all 0.3s ease;
}




.default {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 600px;
}

.default-content {
	display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 65%;
}

.default-content .header2:hover::before {
	width: 330px;
	transition: width 0.5s linear;
}

.default-description {
	max-width: 500px;
	min-width: 350px;
}

.default-description p {
	font-size: 18px;
	line-height: 33px;
}

.default-player {
	display: flex;
}

.default .btn-visit {
	text-transform: uppercase;
	color: #000000;
	text-decoration: none;
	padding: 15px 50px;	
	font-weight: bold;
	border: 2px solid #000000;
	transition: all 0.5s ease;
}

.default-description .btn-visit:hover {
	border: 2px solid rgb(75, 202, 255);
	color: rgb(75, 202, 255);
	padding: 15px 50px;	
}

.default-description .btn-visit:active {
	border: 2px solid rgba(75, 202, 255, 0.5);
	color: rgba(75, 202, 255, 0.5);
}





.twitter {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	background-color: rgb(75, 202, 255);
	min-height: 300px;
}

.twitter-content {
	width:  100%;
	max-width: 65%;
}

.twitter a {
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
}

.twitter a:hover {
	color: rgba(190, 237, 255, 0.8);
	transition: color 0.5ms ease;
}

.twitter a:active {
	color: rgba(26, 154, 204, 0.7);
}

.twitter .header2:hover::before {
	width: 122px;
	transition: width 0.5s ease;
}

.twitter .header2::after {
    content: "";
    height: 22px;
    width: 28px;
    position: absolute;
    background: url(img/icon-twitter.png);
    top: 15%;
    right: 0%;
}

.twitter p {
	font-size: 30px;
    line-height: 50px;
}





.description {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 505px;
	width: 100%;
	background-image: url("img/bg_2.png");
	background-repeat: no-repeat;
	background-position: center;
}

.description-content {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
	max-width: 65%;
}

.description-content .header2 {
	width: 100%;
}

.description-content .header2:hover::before {
	width: 268px;
	transition: width 0.5s ease;
}

.par {
	width: 45%;
	line-height: 33px;
}

.par3 {
	margin-bottom: 0;
}


.description .social {
	display: flex;
	align-items: flex-end;
    width: 45%;
}

.description .btn {
	display: flex;
    width: 55px;
    height: 55px;    
    border: 2px solid white;
    margin-right: 20px;
}

.description .btn-twitter:hover {
	border: 2px solid rgb(75, 202, 255); 
}

.description .btn-google:hover {
	border: 2px solid rgb(212, 72, 72);
}

.description .btn-dribbble:hover {
	border: 2px solid rgb(226, 75, 126);
}

.description .btn-cup:hover {
	border: 2px solid rgb(243, 173, 51);
}

.description .btn-twitter {
background: url(img/icon-twitter.png) no-repeat center;
}

.description .btn-google {
background: url(img/icon-google.png) no-repeat center;
}

.description .btn-dribbble {
background: url(img/icon-dribbble.png) no-repeat center;
}

.description .btn-cup {
background: url(img/icon-cup.png) no-repeat center;
}




.testimonials {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	background-color: #ffffff;
	color: #000000;
	min-height: 300px;
}

.testimonials-content {
	width:  100%;
	max-width: 65%;
}

.testimonials .header2::after {
    content: "";
    height: 26px;
    width: 32px;
    position: absolute;
    background: url(img/icon-commas.png);
    top: 15%;
    right: 0%;
}

.testimonials .header2:hover::before {
	width: 208px;
	transition: width 0.5s ease;
}

.testimonials-cite {
	margin: 0;
}

.testimonials-cite cite {
	font-weight: bold;
    font-style: normal;
    color: rgb(75, 202, 255);
}






.contact {
	display: flex;
    justify-content: center;
    align-items: center;
	height: 814px;
	width: 100%;
	max-height: 814px;
	background: url(img/bg_3.png) no-repeat center;
}

.contact-content {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 65%;
}

.contact .header2:hover::before {
	width: 128px;
	transition: width 0.5s ease;
}

.contact-form {
	text-transform: uppercase;
}

.contact-form-group {
	margin: 20px 0;
}
 
input[type="text"] {
	display: flex;
  	margin: 10px 0;
  	width: 95%;
    height: 50px;
    color: inherit;
    border: 2px solid;
    background: rgba(0, 0, 0, 0);
    padding: 15px;
    text-transform: uppercase;
    font-size: 20px;
}

input[type="text"]:hover {
	border: 2px solid #00adef;
    transition: all 0.3s ease;
}

textarea[name="message"] {
	display: flex;
    margin: 10px 0;
    width: 97%;
    height: 200px;
    max-width: 97%;
    max-height: 200px;
    color: inherit;
    border: 2px solid;
    background: rgba(0, 0, 0, 0);
    padding: 15px;
    font-size: 25px;
}

textarea[name="message"]:hover {
	border: 2px solid #00adef;
    transition: all 0.3s ease;
}

input[type="submit"] {
  	display: block;
  	margin: 20px 0;
  	width: 25%;
    height: 50px;
    text-transform: uppercase;
    color: inherit;
    background-color: #4bcaff;
    border: none;
}


input[type="submit"]:hover {
	background-color: rgb(75, 165, 210);
    transition: all 0.3s ease;
}

input[type="submit"]:active {
	background-color: rgba(55, 125, 165, 0.8);
	color: rgb(186, 196, 202);
}

.giant-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.block {
	width: 45%;
}




footer {
	display: flex;
    justify-content: center;
    align-items: center;
	height: 150px;
	width: 100%;
    color: rgba(255, 255, 255, 0.3);
}

.footer-content {
	width: 100%;
	max-width: 65%;
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.footer-list {
	list-style: none;
}

.footer-list li {
    display: inline-flex;
    justify-content: space-between;
    padding: 0 20px;
    text-transform: uppercase;
}

.footer-list li:not(:last-child) {
    border-right: 2px solid;
}

.footer-menu a {
	text-decoration: none;
	color: inherit;
}

.footer-content p {
	margin-left: auto;
}

.footer-menu a:hover {
	color: rgb(0, 173, 239);
	transition: all 0.3s ease;
}

.footer-menu a:active {
	color: rgba(0, 173, 239, 0.5);
}